<ion-view title="Acerca de" id="page8">
    <ion-content padding="true" scroll="false" class="has-header">
        <h1 class="text-center">Cafe Jardín SR</h1>
        <hr>
        <div class="text-justify">
            <p>Cecilia Castro Ugalde, Jardinera de
                <strong>Cafe Jardin</strong>, les da la bienvenida a la aplicaion para mejorar y facilitar el acceso a los productos que ofrecemos
                <strong>(Plantas, Flores, Semillas, Decoraciones, Cafe Negro, Cafe Con Leche, Cafe Capuccino, Exhibiciones y Ferias)</strong>, ademas de que nos da la oportunidad de contactarnos directamente con la encargada del vivero y facilita la ubicacion
                y nos lleva directamente al
                <strong>Hogar del Jardin</strong>...</p>
        </div>
        <div class="text-justify">
            <p>Consigue descuentos especiales, ferias a 1 / 2 de precio, semillas de cortesia... Ven y disfruta de un delicioso cafe, mientras elegis tus propias Plantas y Flores para la decoracion de tu Jardin.</p>
        </div>
      <div class="spacer" style="width: 283px; height: 2px;"></div>
      <a ui-sref="cafJardN.decoraTuJardin" id="home-button9" class="button button-assertive  button-block">Continuar!</a>
      <div class="button-bar">
        <a class="button button-icon icon ion-person" ui-sref="cafJardN.contacto"></a>
        <a class="button button-icon icon ion-home" ui-sref="cafJardN.prXimosEventos"></a>
        <a class="button button-icon icon ion-ios-location" ui-sref="cafJardN.ubicacion"></a>
      </div>
    </ion-content>
</ion-view>
