<ion-view title="Acerca de" id="page8">
    <ion-content padding="true" scroll="false" class="has-header" style="background: forestgreen">
        <h1 id="acercaDe-heading2" style="color:#fff;text-align:center;">Cafe Jardín SR</h1>
        <div id="acercaDe-markdown4" style="color:#000000;text-align:justify;">
            <p>Cecilia Castro Ugalde, Jardinera de
                <strong>Cafe Jardin</strong>, les da la bienvenida a la aplicaion para mejorar y facilitar el acceso a los productos que ofrecemos
                <strong>(Plantas, Flores, Semillas, Decoraciones, Cafe Negro, Cafe Con Leche, Cafe Capuccino, Exhibiciones y Ferias)</strong>, ademas de que nos da la oportunidad de contactarnos directamente con la encargada del vivero y facilita la ubicacion
                y nos lleva directamente al
                <strong>Hogar del Jardin</strong>...</p>
        </div>
        <div id="acercaDe-markdown5" style="color:#000000;text-align:justify;">
            <p>Consigue descuentos especiales, ferias a 1 / 2 de precio, semillas de cortesia... Ven y disfruta de un delicioso cafe, mientras elegis tus propias Plantas y Flores para la decoracion de tu Jardin.</p>
        </div>
      <div class="spacer" style="width: 283px; height: 47px;"></div>
      <div class="button-bar">
        <a class="button button-icon icon ion-person" ui-sref="cafJardN.contacto"></a>
        <a class="button button-icon icon ion-home" ui-sref="cafJardN.prXimosEventos"></a>
        <a class="button button-icon icon ion-ios-location" ui-sref="cafJardN.ubicacion"></a>
      </div>
    </ion-content>
</ion-view>
