<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Café Jardín</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <div>
                <img src="img/X0ffQBpSCm1V9PKr0f1g_logo.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div id="cafJardN-markdown1" style="color:#BDC3C7;text-align:center;">
                <p>Bienvenidos! al Jardin de Ceci</p>
            </div>
            <ion-list>
                <ion-item ui-sref="cafJardN.decoraTuJardin" menu-close="">Decora tu Jardín</ion-item>
                <ion-item ui-sref="cafJardN.carritoDeCompras" menu-close="">Carrito de Compras</ion-item>
                <ion-item ui-sref="cafJardN.prXimosEventos" menu-close="">Próximos Eventos</ion-item>
                <ion-item ui-sref="cafJardN.galeriaDeFotos" menu-close="">Galeria de Fotos</ion-item>
                <ion-item ui-sref="cafJardN.ubicacion" menu-close="">Ubicación</ion-item>
                <ion-item ui-sref="cafJardN.acercaDe" menu-close="">Acerca de</ion-item>
                <ion-item ui-sref="cafJardN.contacto" menu-close="">Contacto</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>