<ion-view title="Galeria de Fotos" id="page5">
    <ion-content padding="true" class="has-header">
      <h3>Encuentra tu Preferida!</h3>
	  <hr>
      <ion-gallery ion-gallery-items="plants"></ion-gallery>
		<div class="text-center">
			<ion-spinner icon="ripple"></ion-spinner>
		</div>
	</ion-content>
	<ion-footer-bar align-title="left" class="bar-assertive">
	  <div class="buttons">
	    <button class="button">Left Button</button>
	  </div>
	  <h1 class="title">Cafe Jardin!</h1>
	  <div class="buttons" ng-click="doSomething()">
	    <button class="button"> <ion-spinner icon="lines"></ion-spinner> </button>
	  </div>
	</ion-footer-bar>
</ion-view>
