<ion-view title="Home" id="page1" hide-nav-bar="true">
    <ion-content padding="true" scroll="faLse" class="has-header">
        <h3 id="home-heading3" class="text-center">Bienvenidos!</h3>
        <p>Nuestros cuerpos son nuestros jardines, nuestras voluntades son nuestros jardineros...
            <strong>William Shakespeare.</strong>
        </p>
        <div ui-sref="cafJardN.galeriaDeFotos">
          <img src="img/plants/4.jpg" width="100%" height="auto">
        </div>
        <ion-list>
          <ion-item class="item-thumbnail-left" ui-sref="cafJardN.contacto">
            <img src="img/nWBYPVMT0qAxhL2Mzbgd_2887848846_22da6343e6_z.jpg">
            <h2>Jardinera en Cafe Jardin SR</h2>
            <p>Cecilia Castro Ugalde</p>
            <p>www.cafeJardinSR.com</p>
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
