<ion-view title="Home" id="page1" style="background-color:forestgreen;" hide-nav-bar="true">
    <ion-content padding="true" scroll="false" class="has-header">
        <h3 id="home-heading3" style="color:#ECF0F1;text-align:center">Bienvenidos!</h3>
        <div id="home-markdown6" style="color:#D1D1D1;">
            <p>Nuestros cuerpos son nuestros jardines, nuestras voluntades son nuestros jardineros...
                <strong>William Shakespeare.</strong>
            </p>
        </div>
        <div>
          <img src="img/wallpaper.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list>
          <ion-item class="item-thumbnail-left" ui-sref="cafJardN.contacto">
            <img src="img/nWBYPVMT0qAxhL2Mzbgd_2887848846_22da6343e6_z.jpg">
            <h2>Jardinera en Cafe Jardin SR</h2>
            <p>Cecilia Castro Ugalde</p>
            <p>www.cafeJardinSR.com</p>
          </ion-item>
        </ion-list>
        <a ui-sref="cafJardN.acercaDe" id="home-button9" class="button button-assertive  button-block">Continuar!</a>
        <div class="button-bar">
          <a class="button button-icon icon ion-person" ui-sref="cafJardN.contacto"></a>
          <a class="button button-icon icon ion-home" ui-sref="cafJardN.prXimosEventos"></a>
          <a class="button button-icon icon ion-ios-location" ui-sref="cafJardN.ubicacion"></a>
        </div>
    </ion-content>
</ion-view>
