<ion-view title="Home" id="page1" style="background-color:#3498DB;">
    <ion-content padding="true" class="has-header">
        <h2 id="home-heading3" style="color:#ECF0F1;text-align:center;">Bienvenidos!</h2>
        <div id="home-markdown6" style="color:#D1D1D1;">
            <p>Nuestros cuerpos son nuestros jardines, nuestras voluntades son nuestros jardineros...
                <strong>William Shakespeare.</strong>
            </p>
        </div>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="cafJardN.contacto">
                <img src="img/nWBYPVMT0qAxhL2Mzbgd_2887848846_22da6343e6_z.jpg">
                <h2>Cafe Jardin</h2>
                <p>Cecilia Castro Ugalde</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 198px;"></div>
        <a ui-sref="cafJardN.acercaDe" id="home-button9" class="button button-assertive  button-block">Comenzar!</a>
    </ion-content>
</ion-view>