<ion-view title="Próximos Eventos" id="page4">
    <ion-content padding="true" class="has-header">
		
		<div class="list card">

		  <div class="item">
		    <h2>Exposición de orquídeas</h2>
		    <p>1 de Mayo, 2016</p>
		  </div>

		  <div class="item item-body">
		    <img class="full-image" src="img/orquideasjabon.jpg">
		    <p>
		      Orquídeas
		    </p>

		    <button class="button button-block button-dark" ng-click="showAlert()">
 				 Ubicación
			</button>
		  </div>

		</div>

		<div class="list card">

		  <div class="item">
		    <h2>Exposición de orquídeas</h2>
		    <p>1 de Mayo, 2016</p>
		  </div>

		  <div class="item item-body">
		    <img class="full-image" src="img/orquideasjabon.jpg">
		    <p>
		      Orquídeas
		    </p>
		  </div>

		</div>	

	</ion-content>
</ion-view>
