<ion-view title="Próximos Eventos" id="page4">
    <ion-content padding="true" class="has-header">
		<div class="list card">
		  <div class="item">
        <div class="row">
          <div class="col col-90">
            <h2 class="title">Exposición de Orquídeas</h2>
          </div>
          <div class="col col-10" ng-click="showConfirm()">
            <span class="ion-share"></span>
          </div>
        </div>
		  </div>
		  <div class="item item-body">
		    <img class="full-image" src="img/orquideasjabon.jpg">
		    <p><span class="ion-leaf"></span>&nbsp;Te invita <strong>Cafe Jardin!</strong>, y su anfitriona <strong>Cecilia Castro</strong></p>
        <p><span class="ion-ios-calendar"></span>&nbsp;1 de Mayo, 2016</p>
		    <button class="button button-block button-dark" ng-click="showConfirm()">
 				 Enviar informacion! &nbsp; <span class="ion-ios-email-outline text-right"></span>
			  </button>
		  </div>
		</div>
		<div class="text-center">
			<ion-spinner icon="ripple"></ion-spinner>
		</div>
	</ion-content>
</ion-view>
