<ion-view title="Ubicacion" id="page6">
    <ion-content padding="true" class="has-header">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.047839361425!2d-84.3046129856676!3d10.095166174159404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa058e63b73f7b3%3A0x2ca56116625352fe!2sPlaza+Deportes+San+Roque!5e0!3m2!1ses!2ses!4v1462600657408" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <div class="list">
        <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-location"></i>
          Cafe Jardin SR
        </a>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-paper-airplane"></i>
          Pistas
        <span class="item-note">
          Consejos para la Ruta
        </span>
        </a>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-help-circled"></i>
          Preguntas Frecuentes
          <span class="badge badge-assertive">5</span>
        </a>
      </div>
      <div class="text-center">
        <ion-spinner icon="ripple"></ion-spinner>
      </div>
  </ion-content>
</ion-view>
