<ion-view title="Ubicacion" id="page6">
    <ion-content padding="true" class="has-header" style="background: forestgreen;">
      <div>
        <img src="img/worldmap.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 283px; height: 10px;"></div>
      <div class="list">

        <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-location"></i>
          Cafe Jardin SR
        </a>

        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-ios-location"></i>
          Mi Ubicacion
          <i class="icon ion-ios-telephone-outline"></i>
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-paper-airplane"></i>
          Pistas
        <span class="item-note">
          Consejos para la Ruta
        </span>
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-help-circled"></i>
          Preguntas Frecuentes
          <span class="badge badge-assertive">5</span>
        </a>

      </div>
      <div class="spacer" style="width: 283px; height: 45px;"></div>
      <div class="button-bar">
        <a class="button button-icon icon ion-person" ui-sref="cafJardN.contacto"></a>
        <a class="button button-icon icon ion-home" ui-sref="cafJardN.prXimosEventos"></a>
        <a class="button button-icon icon ion-ios-location" ui-sref="cafJardN.ubicacion"></a>
      </div>
    </ion-content>
    </ion-content>
</ion-view>
